<div class="card w-25 mx-auto">
    <div class="card-body">
        <h5 class="card-title">LinkedIn</h5>
        <p class="card-text">Acá podrás ver mi perfil profesional.</p>
        <a href="https://www.linkedin.com/in/nicolas-acu%C3%B1a/" class="btn btn-primary" Target="_blank">Aquí</a>
    </div>
</div>

<div class="card w-25 mx-auto">
    <div class="card-body">
        <h5 class="card-title">Facebook</h5>
        <p class="card-text">Mirá mi red social más antigua.</p>
        <a href="https://www.facebook.com/face.nicolas/" class="btn btn-primary" Target="_blank">Aquí</a>
    </div>
</div>
<div class="card w-25 mx-auto">
    <div class="card-body">
        <h5 class="card-title">Instagram</h5>
        <p class="card-text">Acá podrás ver mi perfil social.</p>
        <a href="https://www.Instagram.com/nico_acuna" class="btn btn-primary" Target="_blank">Aquí</a>
    </div>
</div>

<div class="card w-25 mx-auto">
    <div class="card-body">
        <h5 class="card-title">WhastApp</h5>
        <p class="card-text">Ponete en contacto conmigo.</p>
        <a href="#" class="btn btn-primary Target=" _blank>Aquí</a>
    </div>
</div>